.container {
    padding: 16px;
    border: 1px solid grey;
    border-radius: 5px;
}
.header {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    .icons {
        flex: 0 0 40px;
    }
    .title {
        flex-grow: 1;
    }
}
